//
// Button.
//

$btn-padding-y:               $spacing--s;
$btn-padding-x:               $spacing--m;
$btn-font-size:               $font-size-base;

$btn-padding-y-sm:            $spacing--xs;
$btn-padding-x-sm:            $spacing--s;
$btn-font-size-sm:            $font-size-sm;

$btn-padding-y-lg:            $spacing--m;
$btn-padding-x-lg:            $spacing--l;
$btn-font-size-lg:            $font-size-lg;

$btn-border-width:            3px;

$btn-font-weight:             700;

$btn-link-color:              #fff;
$btn-link-hover-color:        #fff;

$btn-border-radius:           40px;
$btn-border-radius-sm:        30px;
$btn-border-radius-lg:        50px;