//
// Colors.
//

$primary: #212529;
$pink: #FD11CB;
$teal: #2DFFFF;

$link-color: #212529;
$link-hover-color: #FD11CB;

$navbar-light-color: #212529;
$navbar-light-toggler-border-color: transparent;
