//
// Colors.
//

$pink: #FD11CB;
$teal: #2DFFFF;

$primary: #212529;

$jump-colors: (
  "jump": $pink
);

$link-color: $primary;
$link-hover-color: $pink;

$navbar-light-color: $primary;
$navbar-light-toggler-border-color: transparent;
