//
// Spacing settings.
//

$spacing--xxxs: $spacer / 8;
$spacing--xxs: $spacer / 5;
$spacing--xs: $spacer / 3;
$spacing--s: $spacer / 2;
$spacing--m: $spacer;
$spacing--l: $spacer * 2;
$spacing--xl: $spacer * 3;
$spacing--xxl: $spacer * 5;
$spacing--xxxl: $spacer * 8;
