//
// Slide animation classes.
//

.animated {
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	will-change: transform, opacity;
}

@-webkit-keyframes slide-down {

	0% {
		-webkit-transform: translateY(-100%);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes slide-down {

	0% {
		-moz-transform: translateY(-100%);
	}

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes slide-down {

	0% {
		-o-transform: translateY(-100%);
	}

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes slide-down {

	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

.animated.slide-down {
	-webkit-animation-name: slide-down;
	-moz-animation-name: slide-down;
	-o-animation-name: slide-down;
	animation-name: slide-down;
}

@-webkit-keyframes slide-up {

	0% {
		-webkit-transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-100%);
	}
}

@-moz-keyframes slide-up {

	0% {
		-moz-transform: translateY(0);
	}

	100% {
		-moz-transform: translateY(-100%);
	}
}

@-o-keyframes slide-up {

	0% {
		-o-transform: translateY(0);
	}

	100% {
		-o-transform: translateY(-100%);
	}
}

@keyframes slide-up {

	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
	}
}

.animated.slide-up {
	-webkit-animation-name: slide-up;
	-moz-animation-name: slide-up;
	-o-animation-name: slide-up;
	animation-name: slide-up;
}
