parameters:
	level: 1
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/szepeviktor/phpstan-wordpress/bootstrap.php
	paths:
		- functions.php
		- config/
		- includes/
		- templates/
	ignoreErrors:
		- '#Function genesis not found#'
		- '#Function genesis_get_custom_field not found#'
		- '#Function genesis_markup not found#'
		- '#Function genesis_widget_area not found#'
		- '#Function genesis_structural_wrap not found#'
		- '#Function genesis_entry_header_hidden_on_current_page not found#'
		- '#Function genesis_get_config not found#'
		- '#Function genesis_site_layout not found#'
		- '#Function genesis_get_theme_handle not found#'
		- '#Function genesis_is_amp not found#'
		- '#Function genesis_strip_p_tags not found#'
		- '#Function genesis_get_option not found#'
		- '#Function genesis_register_widget_area not found#'
		- '#Function genesis_unregister_layout not found#'
		- '#Function genesis_register_layout not found#'
		- '#Function genesis_register_responsive_menus not found#'
		- '#Function genesis_get_theme_version not found#'
		- '#Function genesis_update_settings not found#'