parameters:
	level: 4
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/genesis-stubs/genesis-stubs.php
		- vendor/szepeviktor/phpstan-wordpress/bootstrap.php
	paths:
		- functions.php
		- config/
		- includes/
		- templates/
	excludePaths:
		- includes/classes/BootstrapNavWalker.php
