//
// Form.
//

::placeholder {
	color: $color--muted;
	opacity: 1; // Firefox fix
}

abbr[title] {
	text-decoration: none;
}

label {
	display: inline-block;
	font-size: $base--font-size;
	font-weight: $font-weight--semibold;
	margin: 0 0 $spacing--s;

	i + &,
	input + &,
	select + &,
	textarea + & {
		font-size: smaller;
		font-weight: $font-weight--regular;
	}
}

input,
select,
textarea {
	background-clip: padding-box; // Remove iOS box shadow
	border: $base--border;
	border-radius: $base--border--radius;
	box-shadow: none;
	font-size: $base--font-size;
	margin: 0 0 $spacing--s;
	padding: 1em;
	width: 100%;

	&:focus {
		border-color: $color--primary;
		outline: none;
	}

	&:disabled,
	&:disabled:hover {
		background-color: $color--muted;
		border-color: $color--border;
		cursor: not-allowed;
	}
}

textarea {
	line-height: $base--line-height;
}

select {
	// height: calc((#{$base--font-size} / #{1rem}) + #{$base--font-size} * 2);

	@include padding(0 null);
}

select[multiple] {
	height: auto;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	margin-right: $spacing--s;
	width: auto;
}

input[type="color"] {
	min-height: $spacing--xl;
}

input[type="search"] {
	appearance: none;

	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button {
		display: none;
	}
}

fieldset {
	border: 0;
	margin: 0;
	min-width: 0;
	padding: 0.01em 0 0;

	body:not(:-moz-handler-blocked) & {
		display: table-cell;
	}
}

legend {
	display: table;
	float: left;
	font-size: $font-size--h5;
	margin: 0 0 $spacing--s;
	padding: 0;
	width: 100%;

	@include heading;

	+ * {
		clear: both;
	}
}
