//
// List.
//

ul,
ol,
dl {
	list-style-position: inside;
	margin: 0 0 $spacing--m;
	padding: 0;

	ul,
	ol,
	dl {
		margin: $spacing--s $spacing--m;
	}
}

dd,
dt {
	margin: 0;
}

dt {
	font-weight: $font-weight--semibold;
}
