//
// Media.
//

embed,
iframe,
object,
video,
.wp-caption {
	max-width: 100%;
	width: 100%;
}

img {

	@extend .img-fluid;
}

.icon {
	fill: $gray-600;
	width: 1em;
	height: 1em;
	padding-left: $spacing--m;
	vertical-align: -.125em;
}

