//
// Table.
//

table {
	border-collapse: collapse;
	border-radius: $base--border--radius;
	border-spacing: 0;
	margin: $spacing--s 0;
	width: 100%;
	word-break: break-all;
}

th,
td {
	border: $base--border;
	border-left: 0;
	border-right: 0;
	padding: $spacing--s;
	text-align: left;

	&:first-of-type {
		border-left: $base--border;
	}

	&:last-of-type {
		border-right: $base--border;
	}
}

th {
	background-color: $color--background;
	font-size: smaller;
	font-weight: $font-weight--semibold;
}
