//
// Typography.
//

a {
	text-decoration-color: $pink;
	text-decoration-thickness: 0.09em;
	text-underline-offset: 2px;
	text-decoration-skip-ink: none;
	text-decoration-style: dotted;
}

p {
	margin-bottom: $paragraph-margin-bottom;

	&:last-of-type {
		margin-bottom: 0;

		.error404 & {
			margin-bottom: $paragraph-margin-bottom;
		}
	}
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

ul {
	
	&.is-style-none {
		@extend .list-unstyled;

		li {
			margin-bottom: $paragraph-margin-bottom;
		}
	}

}

code,
kbd,
samp {
	background-color: $light;
	border-radius: $border-radius;
	font-family: $font-family-code;
	font-size: 90%;
	padding: 0.05em 0.5em;
}

pre {
	background-color: $light;
	border-radius: $border-radius;
	font-family: $font-family-code;
	overflow-x: scroll;
	padding: $spacing--m;

	code,
	kbd,
	samp {
		background-color: transparent;
		font-size: 90%;
		padding: 0;
	}
}
