//
// Typography.
//

p {
	margin-bottom: $paragraph-margin-bottom;
}

b,
strong {
	font-weight: $font-weight-bold;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

code,
kbd,
samp {
	background-color: $light;
	border-radius: $border-radius;
	font-family: $font-family-code;
	font-size: 90%;
	padding: 0.05em 0.5em;
}

pre {
	background-color: $light;
	border-radius: $border-radius;
	font-family: $font-family-code;
	overflow-x: scroll;
	padding: $spacing--m;

	code,
	kbd,
	samp {
		background-color: transparent;
		font-size: 90%;
		padding: 0;
	}
}
