//
// Box Sizing.
//

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px browser default
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	max-width: 100vw;
	overflow-x: hidden;
}

html.admin-bar-showing {
	// height: calc(100% - 32px);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

p:empty {
	display: none;
}
