//
// Author box component.
//

.author-box {
	background-color: $color--background;
	border: $base--border;
	border-radius: $base--border--radius;
	margin: $gutter 0;
	padding: $gap;

	.is-archive & {
		margin-top: 0;
	}

	// Author box title.
	&-title {
		margin-bottom: $spacing--xs;
	}

	// Author box content.
	&-content {
		padding-left: $spacing--xl + $spacing--m;

		p {

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
