//
// Content component.
//

.content {
	width: 100%;

	@include margin($spacing--l null);

	@include media-breakpoint-up(md) {

		@include margin($spacing--xl null);
	}

	.content-sidebar &,
	.sidebar-content & {

		@include media-breakpoint-up(md) {
			max-width: $layout--max-width--content;
			width: $layout--width--content;
		}
	}

	.narrow-content & {

		@include media-breakpoint-up(md) {
			width: $layout--width--content;
		}
	}

	.sidebar-content & {

		@include media-breakpoint-up(md) {
			order: 1;
		}
	}

	.narrow-content & {

		@include margin(null auto);
	}

	.full-width-content & {
	}

	.is-archive & {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}

	.has-heading-block & {
		margin: 0 auto;
	}

	.front-page & {
		margin: 0 auto;
		width: 100%;

		@include media-breakpoint-up(md) {
			width: 100%;
		}
	}

	.template-blocks & {
		margin: 0 auto;
	}
}
