//
// Entry component.
//

.entry {

	.blog &,
	.archive & {
		margin-bottom: $spacing--xxl;

		&:last-of-type {

			@include media-breakpoint-up(sm) {
				margin-bottom: 0;
			}
		}
	}

	// Entry header.
	&-header {

		& * {
			margin-left: auto;
			margin-right: auto;
		}

		& > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.entry-image) {
			max-width: $content-width;
		}

		.single & {
			margin-bottom: $spacing--m;

			@include media-breakpoint-up(md) {
				margin-bottom: $spacing--xl;
			}
		}
	}

	// Entry title.
	&-title {
		text-align: center;

		.blog &,
		.archive & {
			text-align: left;
		}
	}

	// Entry title link.
	&-title-link {
	}

	// Entry time.
	&-time {
		color: $body-color;
		font-weight: $font-weight-bold;
	}

	// Entry author.
	&-author {
	}

	// Entry author link.
	&-author-link {
	}

	// Entry author name.
	&-author-name {
	}

	// Entry comments link
	&-comments-link {
	}

	// Entry meta.
	&-meta {
		color: $gray-700;
		font-size: $font-size-sm;
		margin-bottom: $spacing--m;
		text-transform: uppercase;

		.single & {
			margin: $spacing--m auto;
			text-align: center;

			@include media-breakpoint-up(md) {
				margin: $spacing--xl auto;
			}
		}
	}

	// Entry image.
	&-image {
		border-radius: $border-radius;
		display: block;
		max-width: $align-wide;
		margin: 0 auto $spacing--m;
		position: relative;
		width: 100%;

		@include media-breakpoint-up(md) {
			margin: 0 auto $spacing--l;
			width: $align-wide;
		}
	}

	// Entry image link.
	&-image-link {
		display: block;

		img {
			border-radius: $border-radius;
			min-width: 100%;
		}
	}

	// Entry content.
	&-content {

		& * {
			margin-left: auto;
			margin-right: auto;
		}

		& > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.entry-image) {
			max-width: $content-width;
		}

	}

	// Entry footer.
	&-footer {
	}

	// Entry categories.
	&-categories {
	}

	// Entry tags.
	&-tags {
	}

	// Entry wrap.
	&-wrap {
	}
}
