//
// Gallery component.
//

.featured-content {
	margin-bottom: $spacing--m;

	.entry {

		> a {
			display: block;

			img {
				min-width: 100%;
			}
		}

		> span {
			display: none;
		}
	}

	.sidebar & {

		.entry {

			@include clearfix;
		}

		.entry-image {
			max-width: $spacing--xxl;
		}

		.entry-title {
			font-size: $base--font-size;
			margin-bottom: $spacing--xxs;
		}
	}
}
