//
// Menu toggle component.
//

.menu-toggle {
	align-items: center;
	background-color: transparent;
	display: flex;
	justify-content: center;
	margin: 0;
	order: 1;
	padding: 0;

	// @include size($spacing--m * 1rem);

	@include mq(m) {
		display: none;
	}

	@include hover-focus {
		background-color: transparent;
	}

	&:focus {
		outline: $base--border;
	}

	.hamburger,
	.hamburger::before,
	.hamburger::after {
		background-color: $color--text;
		content: "";
		display: block;
		height: 3px;
		position: absolute;
		width: $spacing--m;
	}

	.hamburger {
		bottom: auto;
		margin: auto;
		right: auto;
		top: auto;

		&::before {
			top: -$spacing--s;
		}

		&::after {
			bottom: -$spacing--s;
		}
	}

	&.activated {

		.hamburger {
			background-color: transparent;

			&::before {
				top: 0;
				transform: rotate(45deg);
			}

			&::after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
}
