//
// Pagination component.
//

.pagination {
	background-color: $color--background;
	border-top: $base--border;
	padding: $gutter 0;
	width: 100%;

	@include mq(m) {
		margin-top: auto;
	}

	.wrap {
		justify-content: center;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin-bottom: 0;
	}

	li {
		margin-right: $spacing--s;
	}

	// Active item.
	.active {
	}

	// Previous item.
	&-prev {
	}

	// Next item.
	&-next {
	}
}

// Adjacent posts nav.
.adjacent-entry-pagination {

	.narrow-content & {

		.wrap {

			@include mq(m) {
				width: $layout--width--content;
			}
		}
	}

	.wrap {
		justify-content: space-between;

		> div {
			max-width: $one-half;
		}
	}
}
