//
// Pagination component.
//

.pagination {
	background-color: $body-bg;
	border-top: $border-width solid $border-color;
	padding: $spacing--m 0;
	width: 100%;

	@include media-breakpoint-up(md) {
		margin-top: auto;
	}

	.wrap {
		justify-content: center;
	}

	ul {
		@extend .pagination;
	}

	li {
		@extend .page-link;
		margin-right: $spacing--s;
	}

	// Active item.
	.active {
	}

	// Previous item.
	&-prev {
	}

	// Next item.
	&-next {
	}
}
