//
// Sticky header component.
//

.sticky-header {

	.site-header {
		position: fixed;

		@include transition;

		&.sticky {
			background-color: $color--white;
			border-bottom: $base--border;
		}
	}

	.hero-section {

		.wrap {
			margin-top: $spacing--xxl;
		}
	}
}
