//
// Sub menu component.
//

.sub-menu {
	display: none;
	list-style-type: none;
	margin: 0 0 0 $spacing--s;
	top: 100%;
	width: 100%;

	@include mq(m) {
		background-color: $color--white;
		border: $base--border;
		margin-left: -$spacing--m;
		position: absolute;
		width: $spacing--xxxl;
	}

	// Hovered state.
	.menu-item-has-children:hover > &,
	.menu-item-has-children:focus > &,
	.menu-item-has-children:focus-within > & {

		@include mq(m) {
			display: block;
		}
	}

	// Sub menu menu item.
	.menu-item {
		width: 100%;

		@include mq($until: m) {

			&:last-of-type {
				padding-bottom: 0;
			}
		}

		@include mq(m) {
			padding: $spacing--s $spacing--m;
			width: auto;
		}

		&-has-children {
			position: relative;
		}
	}

	// Sub sub menu.
	& & {

		@include mq(m) {
			left: 100%;
			margin-left: 0;
			top: -1px;
			white-space: nowrap;
		}
	}

	// Sub menu toggle.
	&-toggle {
		background-color: transparent;
		display: flex;
		justify-content: center;
		line-height: 0;
		margin: 0;
		padding: 0;

		// @include size($spacing--l);

		@include mq(m) {
			display: none;
		}

		@include hover-focus {
			background-color: transparent;
		}

		&:focus {
			outline: $base--border;
		}

		&::before {
			content: "";

			// @include triangle("down", 1rem, 0.5rem, $color--text);
		}

		&.activated {

			&::before {
				// @include triangle("up", 1rem, 0.5rem, $color--text);
			}
		}
	}
}
