//
// Title area component.
//

// Site title.
.site-title {
	font-size: $font-size-lg;
	font-weight: $font-weight-bold;
	margin: 0;

	.wp-custom-logo & {

		@include visually-hidden;
	}

	a {
		color: $body-color;

		@include hover-focus {
			color: $primary;
		}
	}
}

// Site description.
.site-description {
	font-size: $font-size-sm;
	margin: 0;

	.wp-custom-logo & {

		@include visually-hidden;
	}
}

// Custom logo.
.custom-logo {
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	width: 50px;

	&-link {
		align-items: center;
		display: flex;
	}
}
