//
// Title area component.
//

.title-area {
	line-height: $line-height--heading;

	@include padding($spacing--m null);

	@include media-breakpoint-up(md) {

		@include padding($gap null);
	}
}

// Site title.
.site-title {
	font-size: 1em;
	font-weight: $font-weight--semibold;
	margin: 0;

	.wp-custom-logo & {

		@include hide-visually;
	}

	a {
		color: $color--text;

		@include hover-focus {
			color: $color--primary;
		}
	}
}

// Site description.
.site-description {
	font-size: small;
	margin: 0;

	.wp-custom-logo & {

		@include hide-visually;
	}
}

// Custom logo.
.custom-logo {
	width: auto;

	&-link {
		align-items: center;
		display: flex;
	}
}
