//
// Widget component.
//

.widget {
	font-size: $font-size--h4;
	margin-bottom: $gutter;
	text-align: center;

	&-title {
		color: $color--pink;
		font-family: $font-family--heading;
		font-size: $font-size--h1;
		margin-bottom: $spacing--s;
	}
}
