//
// Widget component.
//

.widget {
	margin-bottom: $grid-gutter-width;

	.footer-widgets & {
		font-size: $h5-font-size;
		text-align: center;
	}

	&-title {
		color: $pink;
		font-family: $headings-font-family;
		font-size: $h4-font-size;
		margin-bottom: $spacing--s;

		.footer-widgets & {
			font-size: $h1-font-size;
		}
	}

	ul,
	ol {

		@extend .list-unstyled;
	}

	.post-date {
		display: block;
		margin-bottom: $spacing--s;
		width: 100%;
	}
}
