//
// Site container object.
//

.site-container {
	background-image: url('../../images/clouds.jpg');
	background-color: $white;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}
