//
// Site container object.
//

.site-container {
	background-image: url('../../assets/images/clouds.webp');
	background-color: $color--white;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}
